@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body, .App, #root, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.top-container {
    height: 100%;
    width: 97%;
    /* border: 1px solid black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin: 20px auto auto auto;
    background-color: rgb(138, 23, 192);
    color: #fff;
    text-align: start;
}

.middle-container {
    max-width: 550px;
    /* height: 500px; */
    /* border: 1px solid black; */
    margin: 200px auto;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
}

#theme {
    padding: 20px;
}

.grid-theme {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(140, 117, 151);
    align-items: center;

}

a {
    text-decoration: none;
    color: #fff;
}

#github {
    padding: 35px 20px 35px 30px;
    border-left: 1px solid rgb(140, 117, 151);
}

#github:hover {
    cursor: pointer;
}

.grid {
    display: flex;
    justify-content: space-around;
}

.box {
    height: 500px;
    width: 500px;
    /* border: 1px solid black; */
    padding-top: 120px;
}

.btn {
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

.instruction-header {
    margin-bottom: 50px;
    /* letter-spacing: 1px; */
}

.instruction {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.btn-2 {
    background-color: blueviolet;
    color: #fff;
    display: block;
    margin: 10px auto 20px auto;
}

.btn-2:hover {
    cursor: pointer;
}

button a {
    color: #111;
}

.footer {
    height: 100px;
    background-color: blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    width: 98%;
    margin: auto;
}


.btn-1 {
    margin-top: 10px;
}

.date {
    padding: 10px;
    margin-top: 10px;
    font-size: 1em;
}

img {
    margin-left: 50px;
    /* padding-left: 30px; */
    /* padding-bottom: 200px; */
}

.results {
    font-weight: 900;
    font-size: 1.1rem;
    color: brown;
    margin-bottom: 5rem;
}

#space {
    margin: 0;
}